body {
    margin: 0;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: white;
    text-shadow: 0 0 5px black;
}

#hero{
    background-image: url("images/cardiff-bay.jpg");
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title {
    background-color: #0077B6;
    border-radius: 10px;
    font-size: 80px;
    font-weight: 700;
    padding: 10px 30px;

}

.subtitle{
    font-size: 40px;
    padding: 10px 30px;
    border-radius: 10px;
}

#hero .subtitle{
    background-color: #00B4D8;
}

#activities{
    background-color: #00B4D8;
    height: 500px;
    padding: 50px;
}

#activities .subtitle{
    margin-top: 0;
    padding-top: 20px;
}

#activities img {
    width: 200px;
    height: 200px;
    border-radius: 25%;
}

#activities .top3 h3 {
    text-decoration: underline;
}

.top3{
    display: flex;
    justify-content: space-evenly;
    padding: 0 30px;
}

.top3 img:hover {
    animation-name: grow;
    animation-duration: 2s;
}

@keyframes grow{
    50%{transform: scale(2, 2)}
}

.imgTxt {
    width: 200px;
}

#profile{
    background-color: #CAF0F8;
    height: 400px;
    padding: 30px;
}

#profile .subtitle{
    margin: 0;
}

.card{
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #90E0EF;
    border: 6px solid #03045E;
    border-radius: 30px;
}

.pp{
    width: 200px;
    border-radius: 20px;
}

p{
    font-size: 20px;
}